body {
  margin: 0;
  background-color:#e6ecf0;
  font-family: Montserrat;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
    
}

.box-white{
width: 40%;
height: 40%;
border-radius: 5px;
display: flex;
justify-content: space-between;
flex-direction: column;
margin-top: 65px;

}

.box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.box-resp p 
{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 10px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
padding: 2%;

}
main {
  display: flex;
  
}

.flex-main {
  display: flex;
  justify-content: space-around;
}

.navbar {
  border-top: 3px solid rgba(0, 0, 0, 0.25); 
  border-bottom: 3px solid rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: .5rem 1rem;
  background-color: #1da1f2 !important;
}


.fa-twitter-white {
  color: #ffffff !important;
 }

.bg-white{
  background: #fff!important;
}


.text-uppercase {
  text-transform: uppercase !important;
}

.bold{
  font-weight: 900;
}
.text-center {
  text-align: center !important;
  
}

h1 {
  margin: 0px;
}

textarea {

  border-radius: 5px;
  border: 1px solid #80ffff;
  resize: none;
  overflow: hidden;
  margin-top: 10px;

}

main {
  display: flex;
  justify-content: center;
}


.twitterButton {
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  background-color: #1da1f2;
  border: 1px solid #1da1f2; 
  color: #fff;

}